@import 'setup';

html {
	font-family: sans-serif;
	font-size: 125%;
}

.playerHand, .choiceHand {
	background-color: turquoise;
	font-size: 2rem;
	width: 100%;
}

.playerHand {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0 7px;
	padding: 7px 0;
}

.playerHand .card {
	background-color: white;
	border-radius: 5px;
	height: 200px;
}

.choiceHand {
	height: 10vh;
	background-color: papayawhip;
}

.choiceSubmit {
	height: 20px;
}